@model HW3_u21638684.Models.book

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Book Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagecount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagecount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.author.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.author.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.type.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type.name)
        </dd>

    </dl>
</div>